<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
<link href="/css/login_style.css" rel="stylesheet" />

</head>
<body>
    <div class="login-page">
  <div class="form">
    <form class="login-form" th:action="@{/login}" method="post"> 
    <div th:if="${param.error}" class="alert alert-error">    
                    Invalid username and password.<p th:text="${error}">.</p>
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    You have been logged out.
                </div>
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>     
</body>
</html>